<section {...Astro.props} class='section relative w-full px-4 py-24 pt-20 sm:px-6 sm:pt-24 lg:px-8 lg:pt-28'>
	<div class='flex w-full flex-col items-center justify-center'>
		<slot />
	</div>
</section>
