<div
	class='fixed inset-0 z-[-2] h-full w-screen bg-back bg-[radial-gradient(ellipse_80%_50%_at_50%_-20%,rgba(59,130,246,0.15),rgba(96,165,250,0.1),rgba(255,255,255,0))]'
>
	<div class='absolute inset-0 bg-[radial-gradient(circle_at_20%_50%,rgba(59,130,246,0.1),transparent_50%)]'></div>
	<div class='absolute inset-0 bg-[radial-gradient(circle_at_80%_80%,rgba(96,165,250,0.1),transparent_50%)]'></div>
</div>
